/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'roboto', sans-serif;
  color: #FF6C11;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #FF6C11;
}
header {
  width: 100%;
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #540D6E;
}
@media (max-width: 575px) {
  header {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
  }
}
header #brand {
  display: flex;
  align-content: center;
  justify-content: center;
}
header #brand h3 {
  font-size: 9rem;
}
@media (max-width: 1800px) {
  header #brand h3 {
    font-size: 9rem;
  }
}
@media (max-width: 575px) {
  header #brand h3 {
    font-size: 30px;
  }
}
header #top-nav {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  header #top-nav {
    width: 100%;
    font-size: 10px;
  }
}
header #top-nav a {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  padding: 1px;
  margin: 5px;
}
header #top-nav a:hover {
  color: #0D0221;
}
@media (max-width: 575px) {
  header #top-nav a {
    font-size: 10px;
  }
}
footer {
  display: flex;
  background: #540D6E;
  padding: 25px;
  width: 100%;
}
footer nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
footer nav a {
  font-size: 7rem;
  padding: 5px;
  border-left: 1px solid #2DE2E6;
  border-right: 1px solid #2DE2E6;
}
@media (max-width: 1800px) {
  footer nav a {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  footer nav a {
    font-size: 1.5rem;
    border: none;
    text-align: center;
    padding: none;
    width: 20%;
  }
}
@media (max-width: 575px) {
  footer nav a {
    font-size: 1.2rem;
    border: none;
    text-align: center;
    padding: none;
    width: 20%;
  }
}
footer nav a:hover {
  color: #261447;
}
body {
  background-color: #0D0221;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 575px) {
  body {
    width: 500px;
  }
}
#intro-section-container {
  width: 100%;
  height: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/robo-waiter2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 575px) {
  #intro-section-container {
    width: 500px;
    height: 955px;
  }
}
#intro-section-container .inner-text-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 3000px;
  width: 100%;
}
@media (max-width: 575px) {
  #intro-section-container .inner-text-content {
    width: 500px;
    height: 955px;
  }
}
#intro-section-container .inner-text-content .inner-text-content-header {
  text-align: center;
  font-size: 11rem;
  color: #FF4365;
  width: 75%;
  margin: 200px 200px 50px 400px;
}
@media (max-width: 575px) {
  #intro-section-container .inner-text-content .inner-text-content-header {
    font-size: 35px;
    width: 300px;
    height: 1%;
    margin: 75px 400px 400px 450px;
  }
}
#intro-section-container .inner-text-content button {
  font-size: 10rem;
  background: #FF6C11;
  color: #261447;
  margin: 50px 100px 200px 250px;
  border: none;
  font-weight: bold;
}
#intro-section-container .inner-text-content button:hover {
  background: #540D6E;
}
@media (max-width: 575px) {
  #intro-section-container .inner-text-content button {
    font-size: 35px;
    width: 300px;
    height: 200px;
    margin: 0px 400px 450px 450px;
  }
}
.server-life-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .server-life-info {
    width: 500px;
    height: 955px;
  }
}
.server-life-info .inner-text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
@media (max-width: 575px) {
  .server-life-info .inner-text-content {
    width: 500px;
    height: 955px;
  }
}
.server-life-info .inner-text-content .inner-text-content-header {
  text-align: center;
  color: #FF4365;
  width: 75%;
  font-size: 10rem;
}
@media (max-width: 575px) {
  .server-life-info .inner-text-content .inner-text-content-header {
    width: 300px;
    height: 955px;
    font-size: 10px;
  }
}
.server-life-info .inner-text-content p {
  text-align: center;
  color: #FF6C11;
  width: 75%;
  font-size: 9rem;
}
@media (max-width: 575px) {
  .server-life-info .inner-text-content p {
    width: 500px;
    height: 955px;
  }
}
