
.affiliate{
  margin:0 auto;
  width: 75%;
}
.intro-container {
    display: flex;
    padding: 75px 0 15px;
    margin: 15px auto;
    
}
.supplemental-container{
    display: flex;
    flex-direction: column;
    
    .supplemental-block{
        display: flex;
        flex-direction: column;
        background: @main-bg;
        padding: 15px;
        margin: 15px auto;
        width: 100%;
        border-radius: 25px;
        button{
            margin: 0 auto;
            background: @button-bg;
            color: @button-font;
            padding: 10px;
            border: none;
            font-weight: bold;
        }
        h3{
            text-align: center;
            padding-bottom: 20px;
        }
    }
}
.endorsements-container{
    display: flex;
    .inner-text-content{
        background: @main-bg;
        margin: 15px auto;
        width: 100%;
        p, h1{

            padding: 15px;
            margin: 15px auto;
            width: 100%;
        }
    }
}