body{
    background-image: url('../images/synth-wave.jpg');
    background-size: cover;
    background-color: @section-bg; 
}
.home{
  margin: 0 auto;
  width: 75%;
}
#Intro-Container {
    display: flex;
    background: @main-bg;
    padding: 15px;
    margin: 15px auto;
    
}