body{
    background-image: url('../images/synth-wave.jpg');
    width: 100%;
    background-color: @section-bg; 
}
.home{
  margin:0 auto;
  width: 75%;
}
.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: @main-bg;
    margin: 15px auto;
    align-content: center;
    .intro-item{
        width: 45%;
    }
    .banner{
        width: 95%;
        padding: 20px 0;
    }
}
.hidden{
    display: none;
}
.block{
    display: flex;
    flex-direction: column;
    background: @main-bg; 
    padding: 15px;
    margin: 15px auto;
    width: 100%;
    button{
        margin: 0 auto;
        background: @button-bg;
        color: @button-font;
        padding: 10px;
        border: none;
        font-weight: bold;
        &:hover{
            background: @footer-bg;
        }
    }
    h2,h3{
        text-align: center;
        padding-bottom: 20px;
    }
}
.content{
    display: flex;
    flex-direction: column;
    .block{
        display: flex;
        flex-direction: column;
        background: @main-bg; 
        padding: 15px;
        margin: 15px auto;
        width: 100%;
        button{
            margin: 0 auto;
            background: @button-bg;
            color: @button-font;
            padding: 10px;
            border: none;
            font-weight: bold;
            &:hover{
                background: @footer-bg;
            }
        }
        h2,h3{
            text-align: center;
            padding-bottom: 20px;
        }
    }
}
.endorsements-container{
    display: flex;
    .inner-text{
        background: @main-bg;
        margin: 15px auto;
        width: 100%;
        p, h1{

            padding: 15px;
            margin: 15px auto;
            width: 100%;
        }
    }
}