@import 'reset.less';
@import 'variables.less';
@import 'global.less';
@import 'navigation.less';
@import 'mixins.less';
@import 'footer.less';
@import 'home.less';


#intro-section-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/robo-waiter2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  .inner-text-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;


    .inner-text-content-header {
      text-align: center;
      font-size: 8rem;
      color: @light-red;
      width: 60%;
      margin: 200px 200px 0px 400px;

      @media @tablet {
        font-size: 35px;
        width: 55%;
        margin: 75px 50px 20px 100px;
      }

      @media @mobile {
        font-size: 35px;
        width: 55%;
        height: 1%;
        margin: 20px 50px 10px 100px;
      }

    }

    button {
      font-size: 10rem;
      background: @button-bg;
      color: @button-font;
      margin: 50px 100px 100px 250px;
      border: none;
      font-weight: bold;

      &:hover {
        background: @footer-bg;
      }

      @media @tablet {
        font-size: 35px;
        width: 55%;
        margin: 0px 400px 30px 450px;
      }

      @media @mobile {
        font-size: 35px;
        width: 55%;
        margin: 0px 400px 50px 450px;
      }
    }
  }
}


.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: auto;
  width: 70%;
  opacity: 0.8;
  margin-bottom: 90%;

  .server-life-info {
    margin: 1%;
  }

  h3 {
    color: @sun-rays;
    margin: 1%;
  }

  @media @tablet {
    width: 100%;
  }

  @media @mobile {
    width: 100%;
  }
}





