@import 'reset.less';
@import 'variables.less';
@import 'global.less';
@import 'navigation.less';
@import 'mixins.less';
@import 'footer.less';



#intro-section-container {
  width: 100%;
  height: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/robo-waiter2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  @media @mobile {
    width: 500px;
    height: 955px;
  }


  .inner-text-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 3000px;
    width: 100%;

    @media @mobile {
      width: 500px;
      height: 955px;
    }


    .inner-text-content-header {
      text-align: center;
      font-size: 11rem;
      color: @light-red;
      width: 75%;
      margin: 200px 200px 50px 400px;

      @media @mobile {
        font-size: 35px;
        width: 300px;
        height: 1%;
        margin: 75px 400px 400px 475px;
      }

    }

    button {
      font-size: 10rem;
      background: @button-bg;
      color: @button-font;
      margin: 50px 100px 200px 250px;
      border: none;
      font-weight: bold;

      &:hover {
        background: @footer-bg;
      }

      @media @mobile {
        font-size: 35px;
        width: 300px;
        height: 200px;
        margin: 0px 400px 450px 450px;
      }
    }
  }
}


.server-life-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media @mobile {
    width: 500px;
    height: 955px;
  }

  .inner-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;

    @media @mobile {
      width: 500px;
      height: 955px;
    }

    .inner-text-content-header {
      text-align: center;
      color: @light-red;
      width: 75%;
      font-size: 10rem;

      @media @mobile {
        width: 300px;
        height: 955px;
        font-size: 10px;
      }
    }

    p {
      text-align: center;
      color: @sun-rays;
      width: 75%;
      font-size: 9rem;


      @media @mobile {
        width: 500px;
        height: 955px;
      }
    }
  }
}



