// Color assignments 
@font-color: @sun-rays;
@button-bg: @sun-rays;
@button-font: @deep-blue;
@main-bg:  @deep-blue;
@navigation-bg: @purple-haze;
@footer-bg: @purple-haze;
@section-bg: @retro;

@light-red: #FF4365;
@sun-rays: #FF6C11;
@deep-blue: #261447;
@purple-haze: #540D6E;
@retro: #0D0221;
@baby-blue: #2DE2E6;



